.navbar{
    background-color: rgb(16, 2, 2);
    height: 15vh;
}
ul{
    list-style: none;
    display: flex;
    
}

li{
    padding: 3rem;
    margin-left: 10rem;
    font-size: 25px;
    font-weight: bolder;
    color: whitesmoke;
}
    
